body {
    margin: 0;
    direction: rtl;
    font-family: Assistant;
}

body div {
    box-sizing: border-box;
}

font[face="Arial"] {
    font-family: Assistant;
}

header {
    background-color: #000;
    padding: 1rem;
    text-align: center;
}

.container {
    padding: 0 4rem 4rem;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: #873d4c;
    text-align: center;
    font-size: 2.5rem;
}

.item-block {
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

@media (min-width: 1300px) {
    .items-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }
    .item-block { margin-bottom: 0; }
}

a {
    color: #000;
    text-decoration: none;
}

.item-img { width: 40%; }

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-info {
    padding: 1rem;
    background-color: #efefef;
    width: 60%;
}

.item-desc {
    padding-top: 30%;
    overflow-y: auto;
    position: relative;
}

.desc-content {
    position: absolute;
    top: 0;
    right: 0;
}

.item-desc button {
    border: none;
    color: #228fff;
    font-family: 'Assistant';
    font-size: 1rem;
    transition: all .2s;
    cursor: pointer;
    background: none;
}

.item-desc button:focus, .item-desc button:hover {
    outline: none;
    text-decoration: underline;
    color: #0864c1;
}

.item-block h4 {
    margin: 0 0 .75rem;
    font-size: 1.3rem;
}

.item-price {
    text-align: left;
    font-size: 1.5rem;
}

/*@media (max-width: 992px) {
    .item-img {
        min-width: 150px;
        max-width: 150px;
    }
}*/

@media (max-width: 768px) {
    .container { padding: 2rem; }
}

@media (max-width: 576px) {
    .item-block { display: block; }
    .item-img, .item-info { width: 100%; }
    .item-img { line-height: .5; }
    .item-desc {
        padding-top: 0;
        overflow-y: initial;
        .desc-content {
            position: static;
            max-height: 200px;
            overflow-y: hidden;
            transition: all .2s;
        }
    }
}

/* Loader */
.loader {
	text-align: center;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 48px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 42px;
	height: 42px;
	margin: 6px;
	border: 6px solid #3a3a3a;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #3a3a3a transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}